In [1]:
# import libaries
import numpy as np
import pandas as pd
import nltk, pprint
import matplotlib.pyplot as plt
import random

import gzip, os, pickle # gzip for reading the gz files, pickle to save/dump trained model 
import _pickle as cPickle

import sklearn
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

# supress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
filename = 'atis.fold0.pkl.gz'
f = gzip.open(filename, 'rb')
try:
    train_set, valid_set, test_set, dicts = pickle.load(f, encoding='latin1')
except:
    train_set, valid_set, test_set, dicts = pickle.load(f)
finally:
    f.close()

In [3]:
print(type(train_set))
print()

# types of the three elements in the tuple
print(type(train_set[0]), type(train_set[1]), type(train_set[2]))
print(len(train_set[0]), len(train_set[1]), len(train_set[2]))

<class 'tuple'>

<class 'list'> <class 'list'> <class 'list'>
3983 3983 3983

In [4]:
print(type(valid_set[0]), type(valid_set[1]), type(valid_set[2]))
print(len(valid_set[0]), len(valid_set[1]), len(valid_set[2]))
print()

# test set
print(type(test_set[0]), type(test_set[1]), type(test_set[2]))
print(len(test_set[0]), len(test_set[1]), len(test_set[2]))

<class 'list'> <class 'list'> <class 'list'>
995 995 995

<class 'list'> <class 'list'> <class 'list'>
893 893 893

In [5]:
pprint.pprint(train_set[0][:3])
print('#'*50)
pprint.pprint(train_set[1][:3])
print('#'*50)
pprint.pprint(train_set[2][:3])

[array([554, 194, 268,  64,  62,  16,   8, 234, 481,  20,  40,  58, 234,
       415, 205]),
 array([554, 241, 481,  14, 200,  91,  26, 239]),
 array([232,   0, 273, 502, 254, 481, 165, 193, 208,  77, 502,  64])]
##################################################
[array([  0,   0,   0,  18,   0,   1,  52,   0,   0,  76,   0,   0,   0,
        18, 109]),
 array([  0,   0,   0,   0,   0,   6, 107, 107]),
 array([ 0,  0,  0,  0,  0,  0, 44,  0,  0, 18,  0, 18])]
##################################################
[array([126, 126, 126,  48, 126,  36,  35, 126, 126,  33, 126, 126, 126,
        78, 123]),
 array([126, 126, 126, 126, 126,   2,  83,  83]),
 array([126, 126, 126, 126, 126, 126,  42, 126, 126,  48, 126,  78])]

In [6]:
train_x, _, train_label = train_set
val_x, _, val_label = valid_set
test_x, _, test_label = test_set

In [7]:
train_x[0]

array([554, 194, 268,  64,  62,  16,   8, 234, 481,  20,  40,  58, 234,
       415, 205])

In [8]:
train_label[0]

array([126, 126, 126,  48, 126,  36,  35, 126, 126,  33, 126, 126, 126,
        78, 123])

In [9]:
print(type(dicts))
print(dicts.keys())

<class 'dict'>
dict_keys(['labels2idx', 'tables2idx', 'words2idx'])

In [10]:
print(type(dicts['labels2idx']))
print(type(dicts['tables2idx']))
print(type(dicts['words2idx']))

<class 'dict'>
<class 'dict'>
<class 'dict'>

In [11]:
words = dicts['words2idx']
labels = dicts['labels2idx']
tables = dicts['tables2idx']

In [12]:
random.sample(words.items(), 10)

[('nationair', 329),
 ('hp', 231),
 ('b', 67),
 ('continental', 120),
 ('look', 283),
 ('bwi', 85),
 ('provided', 389),
 ('need', 331),
 ('restriction', 405),
 ('paul', 372)]

In [13]:
[k for val in train_x[0] for k,v in words.items() if v==val]

['what',
 'flights',
 'leave',
 'atlanta',
 'at',
 'about',
 'DIGIT',
 'in',
 'the',
 'afternoon',
 'and',
 'arrive',
 'in',
 'san',
 'francisco']

In [14]:
sents = []
for i in range(30):
    sents.append(' '.join([k for val in train_x[i] for k,v in words.items() if v==val]))

sents

['what flights leave atlanta at about DIGIT in the afternoon and arrive in san francisco',
 'what is the abbreviation for canadian airlines international',
 "i 'd like to know the earliest flight from boston to atlanta",
 'show me the us air flights from atlanta to boston',
 'show me the cheapest round trips from dallas to baltimore',
 "i 'd like to see all flights from denver to philadelphia",
 'explain fare code qx',
 "i 'd like a united airlines flight on wednesday from san francisco to boston",
 'what is the price of american airlines flight DIGITDIGIT from new york to los angeles',
 'what does the meal code s stand for',
 'what are all flights to denver from philadelphia on sunday',
 'what times does the late afternoon flight leave from washington for denver',
 'what flights are available monday from san francisco to pittsburgh',
 'what airlines have business class',
 'flights from atlanta to washington dc',
 'from new york to toronto on thursday morning',
 'show me all the direct flights from atlanta to baltimore',
 'list the flights from new york to miami on a tuesday which are nonstop and cost less than DIGITDIGITDIGIT dollars',
 'show me the first flight that arrives in toronto from cincinnati',
 'what planes are used by twa',
 'please give me the prices for all flights from philadelphia to denver airport next sunday',
 'show me all flights from pittsburgh to oakland that arrive after DIGITDIGIT am',
 'what is the least expensive flight today from atlanta to san francisco',
 'i want a flight from philadelphia to dallas with a stop in atlanta',
 'show me the flights from baltimore to philadelphia',
 'what airlines fly from st. petersburg to milwaukee and from milwaukee to tacoma',
 'please give me the flights from san francisco to washington dc',
 'i need a flight delta airlines kansas city to salt lake',
 'show me flights going from boston to denver arriving on wednesday morning',
 'show me flights leaving from denver colorado to pittsburgh pennsylvania on wednesdays after DIGIT pm']

In [15]:
random.sample(labels.items(), 25)

[('I-arrive_time.period_of_day', 87),
 ('B-toloc.city_name', 78),
 ('B-flight_number', 43),
 ('B-airline_name', 2),
 ('B-day_number', 23),
 ('I-toloc.state_name', 124),
 ('O', 126),
 ('B-toloc.airport_code', 76),
 ('B-stoploc.airport_name', 70),
 ('B-depart_date.day_number', 27),
 ('B-arrive_time.end_time', 10),
 ('I-state_name', 118),
 ('B-booking_class', 16),
 ('B-depart_time.time', 35),
 ('B-airport_name', 4),
 ('B-flight_time', 45),
 ('B-mod', 54),
 ('I-flight_mod', 104),
 ('I-arrive_time.time_relative', 90),
 ('I-return_date.date_relative', 114),
 ('I-fare_amount', 102),
 ('B-flight_days', 41),
 ('B-return_time.period_mod', 64),
 ('I-round_trip', 117),
 ('B-state_name', 68)]

In [16]:
print(len(labels.keys()))

127

In [17]:
id_to_words = {words[k]:k for k in words}
id_to_labels = {labels[k]:k for k in labels}

In [18]:
def print_query(index):
    w = [id_to_words[id] for id in train_x[index]]
    l = [id_to_labels[id] for id in train_label[index]]
    return list(zip(w, l))

In [19]:
print_query(3900)

[('please', 'O'),
 ('show', 'O'),
 ('me', 'O'),
 ('the', 'O'),
 ('return', 'O'),
 ('flight', 'O'),
 ('number', 'O'),
 ('from', 'O'),
 ('toronto', 'B-fromloc.city_name'),
 ('to', 'O'),
 ('st.', 'B-toloc.city_name'),
 ('petersburg', 'I-toloc.city_name')]

In [20]:
print_query(3443)

[('is', 'O'),
 ('there', 'O'),
 ('a', 'O'),
 ('flight', 'O'),
 ('between', 'O'),
 ('oakland', 'B-fromloc.city_name'),
 ('and', 'O'),
 ('boston', 'B-toloc.city_name'),
 ('with', 'O'),
 ('a', 'O'),
 ('stopover', 'O'),
 ('in', 'O'),
 ('dallas', 'B-stoploc.city_name'),
 ('fort', 'I-stoploc.city_name'),
 ('worth', 'I-stoploc.city_name'),
 ('on', 'O'),
 ('twa', 'B-airline_code')]

In [21]:
i=random.randrange(len(train_x))
print_query(i)

[('i', 'O'),
 ('need', 'O'),
 ('ground', 'O'),
 ('transportation', 'O'),
 ('in', 'O'),
 ('dallas', 'B-city_name'),
 ('please', 'O'),
 ('show', 'O'),
 ('me', 'O'),
 ('what', 'O'),
 ("'s", 'O'),
 ('available', 'O')]

In [22]:
i=random.randrange(len(train_x))
print_query(i)

[('flights', 'O'),
 ('from', 'O'),
 ('montreal', 'B-fromloc.city_name'),
 ('and', 'O'),
 ('phoenix', 'B-fromloc.city_name'),
 ('to', 'O'),
 ('las', 'B-toloc.city_name'),
 ('vegas', 'I-toloc.city_name'),
 ('arriving', 'O'),
 ('at', 'O'),
 ('the', 'O'),
 ('same', 'O'),
 ('time', 'O')]

In [23]:
def pos_tag(sent_list):
    pos_tags = []    
    for sent in sent_list:
        tagged_words = nltk.pos_tag([id_to_words[val] for val in sent])
        pos_tags.append(tagged_words)
    return pos_tags

nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\avinash.tiwari\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [24]:
train_pos = pos_tag(train_x)
valid_pos = pos_tag(val_x)
test_pos = pos_tag(test_x)

In [25]:
i = random.randrange(len(train_pos))
train_pos[i]

[('i', 'JJ'),
 ("'d", 'MD'),
 ('like', 'VB'),
 ('to', 'TO'),
 ('take', 'VB'),
 ('a', 'DT'),
 ('flight', 'NN'),
 ('from', 'IN'),
 ('washington', 'NN'),
 ('dc', 'NN'),
 ('stop', 'NN'),
 ('in', 'IN'),
 ('denver', 'NN'),
 ('and', 'CC'),
 ('with', 'IN'),
 ('my', 'PRP$'),
 ('<UNK>', 'JJ'),
 ('destination', 'NN'),
 ('as', 'IN'),
 ('san', 'JJ'),
 ('francisco', 'NN')]

In [28]:
def create_word_pos_label(pos_tagged_data, labels):
    iob_labels = []         # initialize the list of 3-tuples to be returned
    
    for sent in list(zip(pos_tagged_data, labels)):
        pos = sent[0]       
        labels = sent[1]    
        zipped_list = list(zip(pos, labels)) # [(word, pos), label]
        
        # create (word, pos, label) tuples from zipped list
        tuple_3 = [(word_pos_tuple[0], word_pos_tuple[1], id_to_labels[label]) 
                   for word_pos_tuple, label in zipped_list]
        iob_labels.append(tuple_3)
    return iob_labels

In [29]:
train_labels = create_word_pos_label(train_pos, train_label)
train_labels[4:6]

[[('show', 'VB', 'O'),
  ('me', 'PRP', 'O'),
  ('the', 'DT', 'O'),
  ('cheapest', 'JJS', 'B-cost_relative'),
  ('round', 'NN', 'B-round_trip'),
  ('trips', 'NNS', 'I-round_trip'),
  ('from', 'IN', 'O'),
  ('dallas', 'NN', 'B-fromloc.city_name'),
  ('to', 'TO', 'O'),
  ('baltimore', 'VB', 'B-toloc.city_name')],
 [('i', 'JJ', 'O'),
  ("'d", 'MD', 'O'),
  ('like', 'VB', 'O'),
  ('to', 'TO', 'O'),
  ('see', 'VB', 'O'),
  ('all', 'DT', 'O'),
  ('flights', 'NNS', 'O'),
  ('from', 'IN', 'O'),
  ('denver', 'NN', 'B-fromloc.city_name'),
  ('to', 'TO', 'O'),
  ('philadelphia', 'VB', 'B-toloc.city_name')]]

In [30]:
valid_labels = create_word_pos_label(valid_pos, val_label)
test_labels = create_word_pos_label(test_pos, test_label)

In [31]:
from nltk.corpus import conll2000
from nltk import conlltags2tree, tree2conlltags

# print a sample tree in tuple format
train_labels[3]

[('show', 'VB', 'O'),
 ('me', 'PRP', 'O'),
 ('the', 'DT', 'O'),
 ('us', 'PRP', 'B-airline_name'),
 ('air', 'NN', 'I-airline_name'),
 ('flights', 'NNS', 'O'),
 ('from', 'IN', 'O'),
 ('atlanta', 'NN', 'B-fromloc.city_name'),
 ('to', 'TO', 'O'),
 ('boston', 'VB', 'B-toloc.city_name')]

In [32]:
tree = conlltags2tree(train_labels[3])
print(tree)

(S
  show/VB
  me/PRP
  the/DT
  (airline_name us/PRP air/NN)
  flights/NNS
  from/IN
  (fromloc.city_name atlanta/NN)
  to/TO
  (toloc.city_name boston/VB))

In [33]:
train_trees = [conlltags2tree(sent) for sent in train_labels]
valid_trees = [conlltags2tree(sent) for sent in valid_labels]
test_trees = [conlltags2tree(sent) for sent in test_labels]

In [34]:
i=random.randrange(len(train_trees))
print(train_trees[i])

(S
  what/WDT
  are/VBP
  the/DT
  (cost_relative cheapest/JJS)
  flights/NNS
  from/IN
  (fromloc.city_name denver/NN)
  to/TO
  (toloc.city_name pittsburgh/VB)
  that/DT
  stop/NN
  in/IN
  (stoploc.city_name atlanta/NN))

In [35]:
print(train_trees[3468])

(S
  show/VB
  me/PRP
  flights/NNS
  on/IN
  (depart_date.day_name sunday/NN)
  going/VBG
  from/IN
  (fromloc.city_name san/JJ francisco/NN)
  to/TO
  (toloc.city_name boston/VB)
  (flight_stop nonstop/JJ)
  (class_type first/JJ class/NN)
  leaving/NN
  (depart_time.time_relative after/IN)
  (depart_time.time DIGITDIGIT/NNP noon/NN))

In [36]:
sentence = [("the", "DT"), ("little", "JJ"), ("yellow", "JJ"),
            ("dog", "NN"), ("barked", "VBD"), ("at", "IN"), ("the", "DT"), ("cat", "NN")]

In [37]:
grammar = "NP_chunk: {<DT>?<NN><JJ>*}"

In [38]:
cp = nltk.RegexpParser(grammar)
result = cp.parse(sentence)
print(result)

(S
  the/DT
  little/JJ
  yellow/JJ
  (NP_chunk dog/NN)
  barked/VBD
  at/IN
  (NP_chunk the/DT cat/NN))

In [39]:
tree2conlltags(result)

[('the', 'DT', 'O'),
 ('little', 'JJ', 'O'),
 ('yellow', 'JJ', 'O'),
 ('dog', 'NN', 'B-NP_chunk'),
 ('barked', 'VBD', 'O'),
 ('at', 'IN', 'O'),
 ('the', 'DT', 'B-NP_chunk'),
 ('cat', 'NN', 'I-NP_chunk')]